body {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23,104,166, 0.9);
  z-index: 10000;
}

.chooseCht {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
}

.chooseCht:hover {
  transform: scale(1.05);
}

.cht1 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar1.png') top center;
}

.cht2 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar2.png') top center;
}

.cht3 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar3.png') top center;
}
.cht4 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar4.png') top center;
}
.cht5 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar5.png') top center;
}
.cht6 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar6.png') top center;
}
.cht7 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar7.png') top center;
}
.cht8 {
  background: rgba(255, 255, 255, 0.2) url('../img/avatar8.png') top center;
}


.backChoose {
  position: fixed;
  top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #1768a6;
  z-index: 10002;
}

.backChoose:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.backChoose::before {
  font-family: FontAwesome;
  content: "\f2bd";
  display: block;
  float: left;
  margin-right: 4px;
  font-size: 18px;
}

.main_section {
  display: none;
  position: relative;
  margin: 0 auto;
  height: 2000px;
  background: url('../img/bg_stage1.png') top left / cover repeat-y;
}

/*testeiras*/

.div1 {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 450px;
  background: red url('') center center / cover no-repeat;
  z-index: 10001;
}

/*animate*/
.container {
  position: fixed;
  background: rgba(255,255,255, 0.2);
  border-radius: 50%;
  top: 50%;
  margin-top: -181px;
  left: 50%;
  margin-left: -181px;
  width: 363px;
  height: 363px;
  z-index: 9998;
}

.characterCtn {
  margin: 0 auto;
  width: 98px;
  height: 336px;
  background-position: center;
  background-size: 100%;
  z-index: 9999;
}

.character {
  margin: 0 auto;
  width: 98px;
  height: 336px;
  background:  url('') 0 0%;
  background-size: 100%;
  z-index: 9999;
}

.stopped {
  background:  url('') center center;
}
