body {
  margin: 0;
  padding: 0;
}

ul {
  position: relative;
  top: 10px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.lista li{
  display: inline;
  margin: 0 auto;
  padding: 5px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.lista a {
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.lista a:hover {
  color: blue;
}

/*animate*/
.main_section {
  position: relative;
  margin: 0 auto;
  height: 6000px;
  background-color: CornflowerBlue;
}
.container {
  position: fixed;
  align-items: center;
  background: rgba(255,255,255, 0.2);
  border-radius: 50%;
  top: 10%;
  left: 50%;
  margin-left: -181px;
  width: 363px;
  height: 363px;
  z-index: 9998;
}

.character {
  margin: 0 auto;
  width: 98px;
  height: 336px;
  background:  url('../img/personagem1.png') 0 0%;
  background-size: 100%;
  z-index: 9999;
}

.stopped {
  background:  url('../img/personagem1.png') center center;
}
